@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}


.app_searchContainer{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.app_searchTitle{
  color: #330033
}

.app_searchInput{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: black;
}

.app input::placeholder {
  color: black;
}

.app_tableContainer{
  width: 100%;
  border-collapse: collapse;
}

.app_symbol{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.market_percent_red {
  color: #f00606;
}

.market_percent_green {
  color: #11d811;
}


